NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c29jaWFsLWZsYW1pbmdvLTIuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_l0wDXHzFwm0U6lRmHIXiheisry1JZMu3yeEreN4O00




DATABASE_URL=postgresql://vaibhavd6966:npg_X5HQKZ0MzIFh@ep-shy-glitter-amkjumio-pooler.c-5.us-east-1.aws.neon.tech/aimentor?sslmode=require&channel_binding=require

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/onboarding
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/onboarding

GEMINI_API_KEY=AIzaSyDz5CFDlDVKtAAc1Eji26aREndmR4Po69A